div(ng-include='"components/navbar/navbar.html"')

div.wrapper

  div#map_canvas.map_canvas

  div.ui
    button.btn.btn-info.btn-fab(ng-click='addNewTrip("trip")')
      i.material-icons
        | add
        .ripple-container

  div#ui_layer(data-panels='true')
